{% extends 'firstapp/base.html' %}

{% load i18n %}


{% block title %}
    {# Translators: Author page title #}
    {% trans "Author page" %}
{% endblock %}


{% block subtitle %}
    {{ author.username }}
{% endblock %}


{% block content %}

    <div class="section">

        <p>{{ author.first_name }} {{ author.last_name }}</p>
        <p>{{ author.email }}</p>
        <p>{{ author.timezone }}</p>

    </div>


    {% if user.is_authenticated and user.is_staff %}
        <div class="section">

            <form action="{% url 'firstapp:author-detail' author.id %}" method="POST" class="col s12">
                {% csrf_token %}

                {# Translators: Timezone form select label #}
                <label for="timezone">{% trans "Update your timezone" %}</label>

                <select name="timezone" id="timezone">
                    {% for timezone in timezones %}
                        <option value="{{ timezone }}" {% if timezone == author.timezone %} disabled selected {% endif %}>
                            {{ timezone }}
                        </option>
                    {% endfor %}
                </select>

                {# Translators: Timezone form button #}
                <input type="submit" value="{% trans 'Update' %}" class="btn waves-effect waves-light" />

            </form>
        </div>
    {% endif %}


    <!-- Snackbar -->
    <div id="snackbar"></div>

{% endblock content %}


{% block javascript %}

    <script type="text/javascript">

        // When the page is fully loaded
        $(document).ready(function() {

            // Init the form
            $('select').material_select();

            // Get the snackbar
            var snackbar = $("#snackbar");

            // If the timezone has just been updated
            {% if info %}
                snackbar.html("{{ info }}");
                snackbar.toggleClass("show");
                setTimeout(function(){ snackbar.toggleClass("show"); }, 3000);
            {% endif %}

        });

    </script>

{% endblock javascript %}
