{% load static %}

{% load i18n %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {# Translators: Project subtitle #}
        {% trans "Madafaka" %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'firstapp/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'firstapp/css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'firstapp/css/jumbotron.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'firstapp/css/snackbar.css' %}" />
</head>


<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'firstapp:index' %}">
                {# Translators: Project subtitle #}
                {% trans "Madafaka" %}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}

                        <li><p class="navbar-text">
                            <a href="{% url "admin:index" %}">Admin Django</a>
                        </p></li>

                        <li><p class="navbar-text">
                            <a href="{% url "firstapp:rest" %}">API REST</a>
                        </p></li>
                    {% endif %}

                    <li><p class="navbar-text">
                        {{ user.first_name }} {{ user.last_name }} (<a href="{% url 'firstapp:author-detail' user.id %}">{{ user.email }}</a>)
                    </p></li>

                    <li>
                        <a href="{% url 'firstapp:logout' %}">
                            {# Translators: Log out text #}
                            {% trans "Log out" %}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'firstapp:social:begin' 'google-oauth2' %}">
                            {# Translators: Log in text #}
                            {% trans "Log in" %}
                        </a>
                    </li>

                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">

    {% block content %}
    {% endblock %}

</div><!-- /.container -->

<script type="text/javascript" src="{% static 'firstapp/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'firstapp/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    // CSRF TOKEN

    // In order to use a CSRF token with ajax requests
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
</script>

{% block javascript %}
{% endblock %}

</body>
</html>
