{% extends 'firstapp/base.html' %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>Details</h1>
        </div>
    </div>

    <div class="container">
        <p>{{ message.owner }}</p>
        <p>{{ message.publication_date }}</p>
        <p>{{ message.message_text }}</p>

        {% if user.is_authenticated %}
            {% if user == message.owner or user.is_staff %}
                (<button id=delete rel="{{ message.id }}">X</button>)
            {% endif %}
        {% endif %}

    </div>

{% endblock content %}


{% block javascript %}

    <script type="text/javascript">
        $(document).ready(function() {

            // Click on a delete button
            $('#delete').on('click', function () {
                var url = $(this).attr('rel');

                $.ajax({
                    type: "delete",
                    url: url,
                    // Set CSRF token
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },
                    success: function(response) {
                        $('#result').html("");
                        // Refresh the message list
                        get_message_list();
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        $('#result').html(jqXHR.responseText);
                    }
                });
            });


        });
    </script>

{% endblock javascript %}
