{% extends 'firstapp/base.html' %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>Hello World!</h1>
            <p>
                "Simple" Django project. Biatch.
            </p>
        </div>
    </div>

    <div class="container">
        {% if message_list %}
            <ul id="message_container">
                                    <!-- When the page is loaded the first time -->
                    {% for message in message_list %}
                    <li>
                        {% if user.is_authenticated %}
                            {% if user == message.owner or user.is_staff %}
                                (<button rel="{{ message.id }}">X</button>)
                            {% endif %}
                        {% endif %}

                        <a href="{% url 'firstapp:detail' message.id %}">{{ message.message_text }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No messages are available.</p>
        {% endif %}
    </div>

    <div class="container">
        {% if user.is_authenticated %}
            <p id="result"></p>
            <form id="post_form">
                {% csrf_token %}
                <label for="message_text">Poster</label>
                <textarea name="message_text" id="message_text" maxlength="140"></textarea>
                <input type="submit" value="Post" />
            </form>
        {% endif %}
    </div>


    <!-- Snackbar -->
    <div id="snackbar">New message(s) !</div>
{% endblock content %}


{% block javascript %}

    <script type="text/javascript">
        // In order to use a CSRF token with ajax requests
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    </script>

    <script type="text/javascript">

        var ws = new TornadoWebSocket(
            "/my_ws",
            { host:"localhost", port:"1337" }
        );

        // Automatically called when a new client connects
        ws.on('open', function (event) {
            console.log('Websocket: OPEN', event);

            //ws.emit('ping', 'my_data');

            // When a new message is posted
            ws.on('patate', function (data) {
                console.log("Websocket: new message(s) " + data);
                if(data.message === "new") {
                    // Show a notification
                    var snackbar = document.getElementById("snackbar")
                    snackbar.className = "show";
                    setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 3000);
                    // Refresh the message list
                    get_message_list();
                }
            });
        });

        // Automatically called when a client disconnects
        ws.on('close', function(event) {
            console.log('Websocket: CLOSE', event);
        });

        // Automatically called when an error occurs
        ws.on('error', function(event) {
            console.log('Websocket: ERROR', event);
        });

    </script>

    <script type="text/javascript">

        // When the page is fully loaded
        $(document).ready(function() {
            // First of all, load the message list
            get_message_list();
        });

        // Get the message list and display it
        var get_message_list = function () {
            $.ajax({
                type: "get",
                url: "{% url 'firstapp:rest:message-list' %}",
                success: function(data) {
                    // Display them
                    var content = "";
                    for(var i = 0; i < data.length; ++i) {
                        content += "<li>";

                        {% if user.is_authenticated %}
                            if({{ user.id }} === data[i].owner || {{ user.is_staff }}) {
                            content += "(<button rel=\"" + data[i].id + "\">X</button>) ";
                        }
                        {% endif %}


                        var url = "{% url 'firstapp:detail' "1234" %}"
                            .replace('/1234/', '/' + data[i].id + '/');

                        content += "<a href=\"" + url + "\">" + data[i].message_text + "</a>";
                        content += "</li>";
                    }
                    $('#message_container').html(content);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $('#result').html(jqXHR.responseText);
                }
            });
        };

        // When an user submit the form, post the message
        var post_form = $('#post_form');
        post_form.submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: "post",
                data: post_form.serialize(),
                url: "{% url 'firstapp:rest:message-list' %}",
                success: function(response) {
                    $('#result').html("");
                    $('#message_text').val("");
                    // Refresh the message list
                    //get_message_list();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $('#result').html(jqXHR.responseText);
                }
            });
            return false;
        });

        // Click on a delete button
        $('#message_container').on('click', 'button', function () {
            var message_id = $(this).attr('rel');
            var url = "{% url 'firstapp:rest:message-detail' "message_id" %}"
                .replace('/message_id/', '/' + message_id + '/');

            $.ajax({
                type: "delete",
                url: url,
                // Set CSRF token
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function(response) {
                    $('#result').html("");
                    // Refresh the message list
                    get_message_list();
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $('#result').html(jqXHR.responseText);
                }
            });
        });

    </script>

{% endblock javascript %}
