{% extends 'firstapp/base.html' %}

{% load i18n %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>{% trans "Hello World!" %}</h1>
            <p>
                {% trans "Simple Django project. Biatch." %}
            </p>
        </div>
    </div>

    <div class="container">
        <ul id="message_container">
            <!-- When the page is loaded the first time -->
            {% comment %} {% if message_list %}
                {% for message in message_list %}
                    <li>
                        {% if user.is_authenticated %}
                            {% if user == message.owner or user.is_staff %}
                                (<button rel="{{ message.id }}">X</button>)
                            {% endif %}
                        {% endif %}

                        <a href="{% url 'firstapp:detail' message.id %}">{{ message.message_text }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <p>No messages are available.</p>
            {% endif %}{% endcomment %}
        </ul>
    </div>

    <div class="container">
        {% if user.is_authenticated %}
            <p id="result"></p>
            <form id="post_form">
                {% csrf_token %}
                <label for="message_text">{% trans "New message" %}</label>
                <input type="text" name="message_text" id="message_text" maxlength="140" />
                <input type="submit" value="{% trans Post %}" />
            </form>
        {% endif %}
    </div>


    <!-- Snackbar -->
    <div id="snackbar"></div>
{% endblock content %}


{% block javascript %}

    <script type="text/javascript">
        // CSRF TOKEN

        // In order to use a CSRF token with ajax requests
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
    </script>

    <script type="text/javascript">
        // AJAX

        // When the page is fully loaded
        $(document).ready(function() {
            // Get the snackbar
            var snackbar = $("#snackbar");


            // First of all, load the message list
            get_message_list();


            ws = new WebSocket("ws://localhost:1234/ws");

            ws.onmessage = function(evt) {
                console.log("Websocket: receive: " + evt.data);
                if(evt.data.startsWith("message_update")) {
                    console.log("refresh message list");

                    // Snackbar
                    snackbar.html(evt.data.replace("message_update", ""));
                    snackbar.toggleClass("show");
                    setTimeout(function(){ snackbar.toggleClass("show"); }, 3000);

                    get_message_list();
                }
            };

            ws.onclose = function(evt) {
                console.log("Websocket: onclose");
            };

            ws.onopen = function(evt) {
                console.log("Websocket: onopen");
                var send = "ping";
                console.log("Websocket: send: " + send);
                ws.send(send);
            };

        });

        // Get the message list and display it
        var get_message_list = function () {
            $.ajax({
                type: "get",
                url: "{% url 'firstapp:rest:message-list' %}",
                success: function(data) {
                    var content = "";

                    // If there is no message
                    if(typeof data === "string") {
                        content = data;
                    }
                    // If there is a list of messages
                    else {
                        for(var i = 0; i < data.length; ++i) {
                            content += "<li>";

                            {% if user.is_authenticated %}
                                if({{ user.id }} === data[i].owner || {{ user.is_staff }}) {
                                content += "(<button rel=\"" + data[i].link.delete + "\">X</button>) ";
                            }
                            {% endif %}

                            content += "<i>" + data[i].publication_date + "</i> ";
                            content += data[i].message_text + " ";
                            content += "<b><a href=\"" + data[i].link.detail + "\">>></a></b>";
                            content += "</li>";
                        }
                    }
                    // Display the content
                    $('#message_container').html(content);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $('#result').html(jqXHR.responseText);
                }
            });
        };

        // When an user submit the form, post the message
        var post_form = $('#post_form');
        post_form.submit(function(event) {
            event.preventDefault();
            $.ajax({
                type: "post",
                data: post_form.serialize(),
                url: "{% url 'firstapp:rest:message-list' %}",
                success: function(response) {
                    $('#result').html("");
                    $('#message_text').val("");
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $('#result').html(jqXHR.responseText);
                }
            });
            return false;
        });

        // Click on a delete button
        $('#message_container').on('click', 'button', function () {
            var url = $(this).attr('rel');

            $.ajax({
                type: "delete",
                url: url,
                // Set CSRF token
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function(response) {
                    $('#result').html("");
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $('#result').html(jqXHR.responseText);
                }
            });
        });

    </script>

{% endblock javascript %}
