{% if message_list %}
    <ul>
        {% for message in message_list %}
            <li>
                {% if user.is_authenticated %}
                    {% if user == message.owner or user.is_staff %}
                        (<button onclick="delete_message({{ message.id }})">X</button>)
                    {% endif %}
                {% endif %}

                <a href="{% url 'firstapp:detail' message.id %}">{{ message.message_text }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No messages are available.</p>
{% endif %}
